<div class="row">
  <div class="col-md-4 offset-md-4 mt-5">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.text_field :name, class: "form-control mb-3", placeholder: "Name", autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.email_field :email, class: "form-control mb-3", placeholder: "Email", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "new-password" %>
        <% if @minimum_password_length %>
        <em class="mb-3">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, class: "form-control mb-3", placeholder: "Password Confirmation", autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary"  %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
