<div class="row">
<%= link_to "Create", new_recipe_path, class: "btn btn-outline-success mb-4 col-sm-3 offset-sm-9" %>
</div>
<% @recipes.each do |recipe| %>
    <div class="card mb-3">
      <div class="row p-3">
        <a href="<%= recipe_path(:user_id => current_user.id, :id => recipe.id) %>">
          <div class="col-sm-3">
            <h2> <%= recipe.name %> </h2>
            <%= link_to "Delete", recipe_path(id: recipe.id), class: "btn btn-outline-danger", "data-turbo-method": :delete %>
          </div>
          <div class="col-sm-9">
            <p> <%= recipe.description %> </p>
          </div>
        </a>
      </div>
    </div>
<% end %>