<h1 class="mt-4 text-center">Add new a Ingredient</h1>
<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <%= form_with model: @recipe_food, url: user_recipe_foods_path, class: 'flex flex-col items-center w-6/12 mx-auto' do |form| %>
          <% if @recipe_food.errors.any? %>
            <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
              <h2><%= pluralize(recipe_food.errors.count, "error") %> prevent this ingredient from being saved:</h2>

              <ul>
                <% @recipe_food.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="input-group input-group-outline mb-3 row">
            <label class="form-label col-sm-3">Name</label>
            <%= form.text_field :name, class: 'form-control focus:border-blue-600 col-sm-9' %>
          </div>

          <div class="input-group input-group-outline mb-3 row">
            <label class="form-label col-sm-3">Quantity time</label>
            <%= form.number_field :quantity, class: 'form-control focus:border-blue-600 col-sm-9' %>
          </div>

          <div class="input-group input-group-outline mb-3 row">
            <label class="form-label col-sm-3">Food ID</label>
            <%= form.number_field :food_id, class: 'form-control focus:border-blue-600 col-sm-9' %>
          </div>

          <div class="input-group input-group-outline mb-4 row">
            <label class="form-label col-sm-3">Recipe ID</label>
            <%= form.number_field :recipe_id, class: 'form-control focus:border-blue-600 col-sm-9' %>
          </div>
          <div class="row">
            <%= form.button "Add Ingredient", type: "submit", class: "btn btn-primary btn-block col-md-8 offset-md-2", 'data-ripple-light': true %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>